<div class="single-face-snap-card" *ngIf="faceSnap$ | async as faceSnap" [ngClass]="{ snapped: isSnap }">
  <a routerLink="/facesnaps">Back</a>
  <h2>{{ faceSnap.title | titlecase }}</h2>
  <ng-container *ngIf="faceSnap.location; else noLocation">
    <p>Location: {{ faceSnap.location }}</p>
  </ng-container>
  <ng-template #noLocation>
    <p>No location provided</p>
  </ng-template>
  <p>{{ faceSnap.description }}</p>
  <p>Created on: {{ faceSnap.createdDate | date : "d MMMM yyyy, à HH:mm" }}</p>
  <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>
    <button (click)="onSnap(faceSnap.id)">{{ snapButtonText }}</button>
    <span [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }"
      >💪 {{ faceSnap.snaps }}</span
    >
  </p>
</div>
